<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mane.css">
    <title>Document</title>
</head>
<body>
    <header class="head">
        <nav class="head__nav">
            <ul class="head__nav__ul">
                <li class="head__nav__ul_left"><a class="head__nav__ul_a" href="#HOME">HOME</li></a>

                <li class="head__nav__ul_left"><a class="head__nav__ul_a" href="#ABOUT">ABOUT </li></a>

                <li class="head__nav__ul_left"><a class="head__nav__ul_a" href="#PRODUCTS">PRODUCTS</li></a>

                <li class="head__nav__ul_left"><a class="head__nav__ul_a" href="#SOLUTION">SOLUTION</li></a>

                <li class="head__nav__ul_left"><a class="head__nav__ul_a" href="#GALLERY">GALLERY</li></a>

                <li class="head__nav__ul_left"><a class="head__nav__ul_a" href="#CONTACT">CONTACT</li></a>

                <li class="head__nav__ul_right"> <a class="head__nav__ul_a" href="tel:+375(29)829-88-12">+375(29)829-88-12</li> </a>

                <li class="head__nav__ul_right"> <a class="head__nav__ul_a" href="#SEARCH"> SEARCH</li></a>

                <li class="head__nav__ul_right"><a class="head__nav__ul_a" href="#BUSKET">BUSKET</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="main__h1">About</h1>
        <section class="container__1">
            <div class="container__1__card_01">
                <p class="container__1__card_fz13">01.</p>
                <p class="container__1__card_bold">Bring your business online with a website</p>
                <p class="container__1__card_fz13">Sell anything, from physical products</p>
                <button class="container__1__card_btn__1">
                    Get Started
                </button>
                <button class="container__1__card_btn__2">
                    Learn More
                </button>
            </div>
            <div class="container__1__card_02">
                <p class="container__1__card_fz13">02.</p>
                <p class="container__1__card_bold">Lowest fees in the industry. Pariod.</p>
                <p class="container__1__card_fz13">Enjoy the lowest tees compared.</p>
                <button class="container__1__card_btn__1">
                    Get Started
                </button>
                <button class="container__1__card_btn__2">
                    Learn More
                </button>
            </div>
            <div class="container__1__card_03">
                <p class="container__1__card_fz13">03.</p>
                <p class="container__1__card_bold">Point of Sale done right.</p>
                <p class="container__1__card_fz13">Our new Point of Sale devices are designed.</p>
                <button class="container__1__card_btn__1">
                    Get Started
                </button>
                <button class="container__1__card_btn__2">
                    Learn More
                </button>
            </div>
        <div class="blf">
            <img src="../img/AdobeStock_174544330.jpeg" class="blf__img1" alt=""/>
            <h3 class="blf__img1__h3">Ntmplates designed to sell.</h3><br>
            <p class="blf__img__h3_p">Use from 100s of designs for every idea and industry.
            </p><br>
            <button class="blf__img__h3_p_button">
                        Explore Nemplates
            </button>
        </div>
            <div class="section3__greencard">
                <img class="section3__greencard__cards" src="../img/listcart.avif" alt="" height="330px" width="250px">
                <img class="section3__greencard__cards" src="../img/listcart.avif" alt="" height="330px" width="250px">
                <img class="section3__greencard__cards" src="../img/listcart.avif" alt="" height="330px" width="250px">
                <img class="section3__greencard__cards" src="../img/listcart.avif" alt="" height="330px" width="250px">
            </div>
            
        </section>
        <a name="products"> 
        </a>
        <div class="iln">
        </div>
        <h1 class="prod">Products
        </h1>
        <section class="section__4">
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">01</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">02</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">03</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">04</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">05</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">06</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">07</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
            <div class="section__4__cards">
                <p class="section__4__cards__p_num">08</p>
                <img class="section__4__cards__img" src="../img/potted-dracaena-isolated-6398679.jpg" height="210px" width="110px">
                <p class="section__4__cards__of">Product Title</p>
                <p class="section__4__cards__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat aperiam minus labore, ut fuga autem fugiat deleniti ratione numquam quisquam quae delectus magnam iste magni in nesciunt, repudiandae incidunt.</p>
                <p class="section__4__cards__price" >200&#36</p>
                <p class="section__4__cards__buyer">Nicole Anderson</p>
            </div>
        </section>    
    <a name="Solution"></a>
        <div class="iln">
            <section class="section__5">
                <div class="section__5__sin"></div>
                    <p class="section__5__sin__of">
                        of the best,you have to partner with one
                    </p>
                    <p class="section__5__sin__text">Naomi Osaka <br> Kinlo.com</p>
                    <p class="section__5__sin__logo">
                        KINLOO
                    </p>
                    <h2 class="section__5__h2">
                        Turn your small business into a big brand
                    </h2>
                    <div class="section__5__jan"></div>
                <p class="section__5__jan__title">of the best, you have to partner with one</p>
                <p class="section__5__jan__text" >
                   Mark Wolsberg <br> Jango.com
                </p>
               <p class="section__5__jan__logo">JANGOO</p>
            </section>
        
</main>
<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__nav__lists">
            <li class="footer__nav__lists__list_left">
                <a class="footer__nav__lists__list_link" href="#">EASILY</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#About">ABOUT</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#Gallery">GALLERY</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#Solution">SOLUTION</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#">PROJECTS</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#">HOME</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#About">ABOUT</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#Gallery">GALLERY</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#Solution">SOLUTION</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#">PROJECTS</a>
            </li>
            <li class="footer__nav__lists__list_right">
                <a class="footer__nav__lists__list_link" href="#">HOME</a>
            </li>
        </ul>
    </nav>
    <p class="footer__rights">
        Copyright &#169; 2022 Company, LLC. All Rights Reserved LLS in the US.
    </p>
    <a class="footer__btn">
        CALL
    </a>
</footer>







</body>
</html>